<nav>
  <div class="container">
      <div class="nav-header">
          <div class="nav-logo">
              <h2 class="logo">
                  DIVA
              </h2>
          </div>

          <div class="nav-input w-50">
              <input class="form-control" type="text" placeholder="Enter your product name..">
          </div>


          <div class="nav-item">

              <ul>
                  <li><a routerLink="/">Products</a></li>
                  <li id="cartIcon"><a routerLink="/cart">
                          <i class="fa-solid fa-cart-shopping"></i>
                      </a>
                  </li>
              </ul>
          </div>


      </div>
  </div>
</nav>

<!--  J U S T     S T Y L E  -->
<div class="container">
  <div class="belowNav text-center d-flex align-items-center justify-content-between py-2">

      <div class="social">
          <i class="fa-brands fa-facebook-f mx-2"></i>
          <i class="fa-brands fa-instagram mx-2"></i>
          <i class="fa-brands fa-twitter mx-2"></i>
          <i class="fa-brands fa-linkedin mx-2"></i>
      </div>
      <p class="m-0">FREE SHIPPING THIS WEEK ORDER OVER - $55</p>

      <select name="" id="">
          <option value="">EUR</option>
          <option value="">USD</option>
      </select>


  </div>
</div>
