<div class="aside-content mt-5">
  <div class="best-sellers">
      <h4 class="text-dark">Best Sellers</h4>
      <div class="item d-flex my-3">
          <div class="item-img w-25">
              <img src="../../../../assets/images/best-seller1.jpg" alt="">
          </div>

          <div class="item-body w-75 ps-5 pt-2">
              <h5>Rain Jacket Woman</h5>
              <div class="stars-icon text-warning mb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
              </div>
              <div class="item-discount">
                  <span class="discount">57.99 €</span>
                  <span class="fw-bold">39.99 €</span>
              </div>
          </div>
      </div>

      <div class="item d-flex my-3">
          <div class="item-img w-25">
              <img src="../../../../assets/images/best-seller2.jpg" alt="">
          </div>

          <div class="item-body w-75 ps-5 pt-2">
              <h5>John Hardy Women's</h5>
              <div class="stars-icon text-warning mb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <div class="item-discount">
                  <span class="discount">895.00€</span>
                  <span class="fw-bold">695.00€</span>
              </div>
          </div>
      </div>

      <div class="item d-flex my-3">
          <div class="item-img w-25">
              <img src="../../../../assets/images/best-seller3.jpg" alt="">
          </div>

          <div class="item-body w-75 ps-5 pt-2">
              <h5>Silicon Power 256GB</h5>
              <div class="stars-icon text-warning mb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star-half-stroke"></i>
              </div>
              <div class="item-discount">
                  <span class="discount">149.99 €</span>
                  <span class="fw-bold">109.00 €</span>
              </div>
          </div>
      </div>

      <div class="item d-flex my-3">
          <div class="item-img w-25">
              <img src="../../../../assets/images/best-seller4.jpg" alt="">
          </div>

          <div class="item-body w-75 ps-5 pt-2">
              <h5>Fjallraven - Foldsack</h5>
              <div class="stars-icon text-warning mb-2">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
              <div class="item-discount">
                  <span class="discount">175.99 €</span>
                  <span class="fw-bold">109.95 €</span>
              </div>
          </div>
      </div>
  </div>

  <div class="deal mt-5">
      <h4 class="text-dark text-center">DEAL OF THE DAY!</h4>
      <div class="item d-flex flex-wrap my-3">
          <div class="stars-icon text-warning mb-2 mt-4 text-center w-100">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
          </div>
          <div class="item-img w-100 text-center mb-2">
              <img src="../../../../assets/images/deal1.jpg" alt="">
          </div>

          <div class="item-body w-100 pt-2 text-center">

              <h5>Samsung 49-Inch CHG90</h5>

              <div class="item-discount">
                  <span class="discount fs-4">57.99 €</span>
                  <span class="fw-bold fs-1 ">39.99 €</span>
              </div>

              <div class="days-left fs-3 my-3 text-danger fw-bold text-center">
                  <p>2 DAYS LEFT</p>
              </div>

              <div class="shop-now">
                  <button class="shop-button my-5 text-white fs-5 fw-bold w-50 m-auto">Shop Now</button>
              </div>
          </div>
      </div>
  </div>
</div>
